certifi==2020.12.5
chardet==4.0.0
click==7.1.2
croniter==1.0.13
docker==5.0.0
fastapi==0.63.0
h11==0.12.0
idna==2.10
motor==2.3.1
odmantic==0.3.4
pydantic==1.8.1
pymongo==3.11.4
python-dateutil==2.8.1
redis==3.5.3
requests==2.25.1
rq==1.8.0
rq-scheduler==0.11.0
six==1.16.0
starlette==0.13.6
supervisor==4.2.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
websocket-client==0.59.0
